<div class='chat-room-form'>
  <h1>新規投稿ルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :name, :ルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'ルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>


    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%# 共有/非共有の分岐実装予定 %>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>共有者</label>
      </div>

      <div class='chat-room-form__field--right'>
        <% if @room.public %>
          <!-- 公開ルームの場合、全てのユーザーを選択可能にする -->
          <select name="room[user_ids][]" multiple>
            <% User.where.not(id: current_user.id).each do |user| %>
              <option value="<%= user.id %>"><%= user.name %></option>
            <% end %>
          </select>
        <% else %>
          <!-- 非公開ルームの場合、特定のユーザーを選択不可にし、作成者のみを表示 -->
          <p><strong>非公開ルーム</strong></p>
          <p><%= current_user.name %></p>
          <%= hidden_field_tag "room[user_ids][]", current_user.id %>
        <% end %>
      </div>

      <%# <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">チャットするユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <%# <option value=<%= user.id %>><%= user.name %></option>
          <%# end %>
        <%# </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%# </div> %> 


    </div>




    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
